<section class="section-favorites">
  <div class="container">
    <h2 class="title">Some of Our Favorites</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /images/img-favorites/gamburger-desctop.png    1x,
              /images/img-favorites/gamburger-desctop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/img-favorites/gamburger-tablet.png    1x,
              /images/img-favorites/gamburger-tablet@2x.png 2x
            "
          />
          <source
            media="(max-width: 767.98px)"
            srcset="
              /images/img-favorites/gamburger-mobile.png    1x,
              /images/img-favorites/gamburger-mobile@2x.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/images/img-favorites/gamburger-mobile.png"
            alt="gamburger"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /images/img-favorites/pasta-desctop.png    1x,
              /images/img-favorites/pasta-desctop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/img-favorites/pasta-tablet.png    1x,
              /images/img-favorites/pasta-tablet@2x.png 2x
            "
          />
          <source
            media="(max-width: 767.98px)"
            srcset="
              /images/img-favorites/pasta-mobile.png    1x,
              /images/img-favorites/pasta-mobile@2x.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/images/img-favorites/pasta-mobile.png"
            alt="pasta"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /images/img-favorites/pizza-desctop.png    1x,
              /images/img-favorites/pizza-desctop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/img-favorites/pizza-tablet.png    1x,
              /images/img-favorites/pizza-tablet@2x.png 2x
            "
          />
          <source
            media="(max-width: 767.98px)"
            srcset="
              /images/img-favorites/pizza-mobile.png    1x,
              /images/img-favorites/pizza-mobile@2x.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/images/img-favorites/pizza-mobile.png"
            alt="pizza"
          />
        </picture>
      </li>
      <li class="gallery-item gallery-img-none">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /images/img-favorites/chicken-desctop.png    1x,
              /images/img-favorites/chicken-desctop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/img-favorites/chicken-tablet.png    1x,
              /images/img-favorites/chicken-tablet@2x.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/images/img-favorites/chicken-tablet.png"
            alt="chicken"
          />
        </picture>
      </li>
      <li class="gallery-item gallery-img-none">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /images/img-favorites/salat-desctop.png    1x,
              /images/img-favorites/salat-desctop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/img-favorites/salat-tablet.png    1x,
              /images/img-favorites/salat-tablet@2x.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/images/img-favorites/salat-tablet.png"
            alt="salat"
          />
        </picture>
      </li>
      <li class="gallery-item gallery-img-none">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /images/img-favorites/borshch-desctop.png    1x,
              /images/img-favorites/borshch-desctop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/img-favorites/borshch-tablet.png    1x,
              /images/img-favorites/borshch-tablet@2x.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/images/img-favorites/borshch-tablet.png"
            alt="borshch"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
