<section class="section-hero">
  <div class="container">
    <div class="desc-box">
      <h1 class="main-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-text">
        With just a few clicks, you can have your favorite meals delivered
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
      <button class="btn" type="button">Order Now</button>
    </div>
    <div class="hero-box">
      <picture>
        <source
        media="(min-width: 1280px)"
        srcset="/images/img-header/food-desctop.png 1x, 
        /images/img-header/food-desctop@2x.png 2x">
          
        <source
          media="(min-width: 768px)"
          srcset="
            /images/img-header/food-tablet.png    1x,
            /images/img-header/food-tablet@2x.png 2x
          "
        />
        <img
          class="hero-img"
          src="/images/img-header/food-tablet.png"
          alt="Food on the plate"
        />
      </picture>
    </div>
  </div>
</section>
