<section class="offerings-section">
    <div class="container">
        <picture>
            <source media="(min-width: 1280px)" 
            srcset="/images/img-offerings/apple-desctop.png 1x,
            /images/img-offerings/apple-desctop@2x.png 2x">
            <source media="(min-width: 768px)"
            srcset="/images/img-offerings/apple-tablet.png 1x,
            /images/img-offerings/apple-tablet@2x.png 2x">
            <source media="(min-width: 320px)"
            srcset="/images/img-offerings/apple-mobile.png 1x,
            /images/img-offerings/apple-mobile@2x.png 2x">
            <img src="/images/img-offerings/apple-mobile.png" alt="Green apple"/>
        </picture>
    </div>

</section>